{% extends 'default.html' %}
{% block title %}손글씨 숫자 인식 폼{% endblock %}
{% block content %}
<div class="container">
    <p style="height: 50px;"></p>
    <h1>Mnist 손글씨 숫자 인식 MODEL</h1>
    <form action="/mnist" method="post", enctype="multipart/form-data">
        <div>
            <label for="formFileLg" class="form-label">Large file input example</label>
            <input class="form-control form-control-lg" id="formFileLg" name="mnistfile" type="file">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}